{% extends "home/base.html" %}

{% block title %}Locked{% endblock %}

{% block content %}
    <div class="container">
      <div class="jumbotron active-mission mb-5">
        <div class="container-fluid text-center">
            {% if condition == 'mission in future' %}
            <h1><b>Mission Locked</b></h1>
            <h3>Dear <b>{{ request.user.username }}</b>, please don't try to cheat.</h3><br>
            <p>This mission is unavailable until <kbd>{{ mission.start_time }}</kbd><br>Please seek for help in our Discord Server if you think this is incorrect.</p>
            <a href="{% url 'home:mission' %}" class="btn btn-primary btn-sm">
                Go back to Mission
            </a>
            <a href="https://discord.gg/7mgxSBc" class="btn btn-primary btn-sm ml-3"><i class="fab fa-discord mr-2 mt-1"></i>Go to Discord</a>
            {% elif condition == 'mission already completed' %}
            <h1><b>Mission Locked</b></h1>
            <h3>Dear <b>{{ request.user.username }}</b>, you have already completed this mission.</h3><br>
            <p>You can only complete a mission once.<br>Please seek for help in our Discord Server if you think this is incorrect.</p>
            <a href="{% url 'home:mission' %}" class="btn btn-primary btn-sm">
                Go back to Mission
            </a>
            {% elif condition == 'ran out of trials' %}
                {% if mission.id == 1 or mission.id == 5 %}
                <h1><b>Mission Locked</b></h1>
                <h3>Dear <b>{{ request.user.username }}</b>, you have ran out of trials for this mission.</h3><br>
                <p>You have only 10 trials, you have used <kbd>{{ numTrials }}/10</kbd><br>Please seek for help in our Discord Server if you think this is incorrect.</p>
                <a href="{% url 'home:mission' %}" class="btn btn-primary btn-sm">
                    Go back to Mission
                </a>
                {% endif %}
            <a href="https://discord.gg/7mgxSBc" class="btn btn-primary btn-sm ml-3"><i class="fab fa-discord mr-2 mt-1"></i>Go to Discord</a>
            {% else %}
            <h1><b>Mission Locked</b></h1>
            <h3>Dear <b>{{ request.user.username }}</b>, the time to complete this mission is over.</h3><br>
            <p>This mission is only available until <kbd>{{ mission.end_time }}</kbd><br>Please seek for help in our Discord Server if you think this is incorrect.</p>
            <a href="{% url 'home:mission' %}" class="btn btn-primary btn-sm">
                Go back to Mission
            </a>
            <a href="https://discord.gg/7mgxSBc" class="btn btn-primary btn-sm ml-3"><i class="fab fa-discord mr-2 mt-1"></i>Go to Discord</a>
            {% endif %}
        </div>
      </div>
    </div>

    <script>
      history.pushState(null, null, null)
      window.addEventListener('popstate', function() {
        history.pushState(null, null, null);
      })
    </script>
{% endblock %}