{% extends "home/base.html" %}

{% block title %}Mission{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
        {% for mission in missions|slice:":3" %}
          <div class="col-sm">
            {% if forloop.counter == 1 and user.m1 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif forloop.counter == 2 and user.m2 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif forloop.counter == 3 and user.m3 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif now > mission.start_time and now < mission.end_time %}
              <div class="jumbotron active-mission" style="text-align: center;">
            {% elif mission.end_time < now %}
              <div class="jumbotron failed-mission" style="text-align: center;">
            {% else %}
              <div class="jumbotron locked-mission" style="text-align: center;">
            {% endif %}
                <h2 class=""><strong>{{ mission.mission_title_chi }}</strong></h2>
                <h4 class="">{{ mission.mission_title_eng }}</h2><br>
                <a class="btn btn-secondary" href="{% url 'home:submit' mission_id=mission.id %}" role="button">Challenge Now</a>
              </div>
          </div>
        {% endfor %}
        </div>

        <div class="row">
        {% for mission in missions|slice:"3:6" %}
          <div class="col-sm">
            {% if forloop.counter == 1 and user.m4 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif forloop.counter == 2 and user.m5 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif forloop.counter == 3 and user.m6 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif now > mission.start_time and now < mission.end_time %}
              <div class="jumbotron active-mission" style="text-align: center;">
            {% elif mission.end_time < now %}
              <div class="jumbotron failed-mission" style="text-align: center;">
            {% else %}
              <div class="jumbotron locked-mission" style="text-align: center;">
            {% endif %}
                <h2 class=""><strong>{{ mission.mission_title_chi }}</strong></h2>
                <h4 class="">{{ mission.mission_title_eng }}</h2><br>
                <a class="btn btn-secondary" href="{% url 'home:submit' mission_id=mission.id %}" role="button">Challenge Now</a>
              </div>
          </div>
        {% endfor %}
        </div>

        <!-- <div class="row mb-5">
        {% for mission in missions|slice:"6:9" %}
          <div class="col-sm">
            {% if forloop.counter == 7 and user.m7 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif forloop.counter == 8 and user.m8 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif forloop.counter == 9 and user.m9 %}
              <div class="jumbotron completed-mission" style="text-align: center;">
            {% elif now > mission.start_time and now < mission.end_time %}
              <div class="jumbotron active-mission" style="text-align: center;">
            {% elif mission.end_time < now %}
              <div class="jumbotron failed-mission" style="text-align: center;">
            {% else %}
              <div class="jumbotron locked-mission" style="text-align: center;">
            {% endif %}
                <h2 class=""><strong>{{ mission.mission_title }}</strong></h2>
                <h4 class="">{{ mission.mission_title_eng }}</h2><br>
                <a class="btn btn-secondary" href="{% url 'home:submit' mission_id=mission.id %}" role="button">Challenge Now</a>
              </div>
          </div>
        {% endfor %}
        </div> -->
    </div>

{% endblock %}
