{% extends "home/base.html" %}

{% block title %}Mission{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
        {% for mission in missions|slice:":3" %}
          <div class="col-sm">
              <div class="jumbotron active-mission" style="text-align: center;">
                <h2 class=""><strong>{{ mission.mission_title_chi }}</strong></h2>
                <h4 class="">{{ mission.mission_title_eng }}</h2><br>
                <a class="btn btn-secondary" href="{% url 'home:submit' mission_id=mission.id %}" role="button">Challenge Now</a>
              </div>
          </div>
        {% endfor %}
        </div>
        <div class="row">
        {% for mission in missions|slice:"3:6" %}
          <div class="col-sm">
              <div class="jumbotron active-mission" style="text-align: center;">
                <h2 class=""><strong>{{ mission.mission_title_chi }}</strong></h2>
                <h4 class="">{{ mission.mission_title_eng }}</h2><br>
                <a class="btn btn-secondary" href="{% url 'home:submit' mission_id=mission.id %}" role="button">Challenge Now</a>
              </div>
          </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
