{% extends "home/base.html" %}

{% block title %}Pending{% endblock %}

{% block content %}
    <div class="container">
      <div class="jumbotron active-mission mb-5">
        {% if mission.id == 2 %}
        <div id="yt-player" class="embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item">
            <div id="mission2-video"></div>
          </div>
        </div>
        {% endif %}
        <div id="main-container" class="container-fluid text-center">
            <h1><b>Good News!</b></h1>
            <h3>Your answers are successfully submitted.<br>It's now pending for validation, check back later!</h3><br>
            <p>The mission you have submitted is -> <kbd>{{ mission.mission_title_chi }} {{ mission.mission_title_eng }}</kbd><br>Please seek for help in our Discord Server if there's any enquiries.</p>
            <a href="{% url 'home:mission' %}" class="btn btn-primary btn-sm">
                Go back to Mission
            </a>
            <a href="https://discord.gg/7mgxSBc" class="btn btn-primary btn-sm ml-3"><i class="fab fa-discord mr-2 mt-1"></i>Go to Discord</a>
        </div>
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <button type="button" id="next-button" class="btn btn-secondary mt-5 disabled" onclick="showCongratulations()" disabled>Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      history.pushState(null, null, null)
      window.addEventListener('popstate', function() {
        history.pushState(null, null, null);
      })

      // Disable the messages first
      document.getElementById("main-container").setAttribute("style", "display: none;")
      
      // Load Youtube API asynchronously
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // This function creates an <iframe> (and YouTube player)
      // after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('mission2-video', {
          videoId: 'pv1JWlqwz9E',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // The API calls this function when the player's state changes.
      // the player should enable button when the video is finished.
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          document.querySelector("#next-button").classList.remove("disabled");
          document.querySelector("#next-button").disabled = false;
        }
      }

      function showCongratulations() {
        ytplayer = document.querySelector("#yt-player");
        mainCont = document.querySelector("#main-container");
        button = document.querySelector("#next-button");

        if (button.innerText == "Next") {
          ytplayer.setAttribute("style", "display: none;");
          mainCont.setAttribute("style", "");
          button.innerText = "Go Back";
        } else {
          ytplayer.setAttribute("style", "");
          mainCont.setAttribute("style", "display: none;");
          button.innerText = "Next";
        }
      }
    </script>
{% endblock %}