{% extends "home/base.html" %}

{% block title %}Mission{% endblock %}

{% block content %}
    <div class="container">
      {% load static %}
      <div class="jumbotron active-mission mb-5">
        <div class="container-fluid text-center">
          <div class="container-sm border border-secondary rounded">
            <blockquote class="blockquote text-center my-auto pt-3 pb-3">
              {% if mission.id == 1 %}
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Chapter 1: <cite title="Source Title">Spot the Difference</cite></footer>
              {% else %}
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Chapter 2: <cite title="Source Title">Missing Piece</cite></footer>
              {% endif %}
            </blockquote>
          </div>
          <h2 class="mt-5"><strong>{{ mission.mission_title_chi }} {{ mission.mission_title_eng }}</strong></h2><br>
          <h4><u><b>Instructions</b></u></h4>
          <p class="lead">
            {% autoescape off %}
            {{ mission.mission_description_chi }}<br>
            {{ mission.mission_description_eng }}
            {% endautoescape %}
          </p>
          {% for message in messages %}
          <br>
          <br>
          <div class="container w-75">
            <div class="alert alert-danger mb-4" role="alert">
              {{ message }}
            </div>
          </div>
          {% endfor %}
          {% if mission.id == 1 %}
          <p><i></i></p>
          <br>
          <br>
          <img src="{% static 'game/spot/SpotTheDifference.jpg' %}" style="max-width: 100%; height: auto;" alt="">
          <form method="POST" class="mt-5" name="spot-the-difference-form">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <div class="float-right mr-n2">
                    <!-- {% if box1_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box1 }}" name="box1" tabindex="1" required>
                    {% elif box1_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box1 }}" name="box1" tabindex="1" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box1" tabindex="1" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ box1 }}" name="box1" tabindex="1" required>
                </div>
              </div>
              <div class="col ml-n3">
                    <!-- {% if box2_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box2 }}" name="box2" tabindex="2" required>
                    {% elif box2_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box2 }}" name="box2" tabindex="2" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box2" tabindex="2" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ box2 }}" name="box2" tabindex="2" required>
              </div>
            </div>
            <br>
            <br>
            <img src="{% static 'game/spot/FD.jpg' %}" style="max-width: 100%; height: auto;" class="mt-4" alt="">
            <div class="mt-5">
              <div class="row">
                <div class="col">
                  <div class="float-right mr-n2">
                    <!-- {% if box3_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box3 }}" name="box3" tabindex="3" required>
                    {% elif box3_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box3 }}" name="box3" tabindex="3" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box3" tabindex="3" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ box3 }}" name="box3" tabindex="3" required>
                  </div>
                </div>
                <div class="col ml-n3">
                    <!-- {% if box4_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box4 }}" name="box4" tabindex="4" required>
                    {% elif box4_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box4 }}" name="box4" tabindex="4" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box4" tabindex="4" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ box4 }}" name="box4" tabindex="4" required>
                </div>
              </div>
            </div>
            <input class="btn btn-primary mt-5 ml-2" type="submit" value="Submit" tabindex="5"/>
          </form>
          <!-- <a href="{% url 'home:spot' mission_id=mission.id %}" class="btn btn-primary mt-3">Proceed to the puzzle</a> -->
          {% elif mission.id == 2 %}
          <br>
          <audio controls>
            <source src="{% static 'mission_files/ReverseAudio.mp3' %}" type="audio/mp3">
          </audio>
          <br>
          <br>
          <form method="POST" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <input type="file" name="filename" class="btn btn-light">
            <button type="submit" class="btn btn-light ml-3">Submit</button>
          </form>
          {% elif mission.id == 3 %}
          <br>
          <br>
          <!-- <h5>This game is still under development.</h5> -->
          <form method="POST" class="form-group row">
            {% csrf_token %}
            <label for="inputQ1" class="col-sm-10 col-form-label"><kbd>0:30 - 0:39 左边有多少个架构相识的建筑物？</kbd></label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="inputQ1" placeholder="Answer">
            </div>
            <button type="submit" class="btn btn-light ml-3">Submit</button>
          </form>
          {% elif mission.id == 4 %}
          <br>
          <br>
          <img src="{% static 'game/crossword/Crossword.jpeg' %}" style="max-width: 100%; height: auto;" alt="Crossword">
          {% elif mission.id == 5 %}
          <br>
          <!-- <img src="{% static 'mission_files/GoogleMap.jpeg' %}" style="max-width: 100%; height: auto;" alt="GoogleMap"> -->
          <div style="padding:55% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/418081125" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          <br>
          <br>
          <form method="POST" class="form-group row">
            {% csrf_token %}
            <label for="inputQ1" class="col-sm-10 col-form-label text-left" style="font-size: x-large;">1) 0:30 - 0:39 左边有多少个架构相识的建筑物？</label>
              {% if inputQ1_invalid %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-invalid" id="inputQ1" name="inputQ1" value="{{ inputQ1 }}" placeholder="Answer" tabindex="1" required>
              </div>
              {% elif inputQ1_invalid == False %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-valid" id="inputQ1" name="inputQ1" value="{{ inputQ1 }}" placeholder="Answer" tabindex="1" required>
              </div>
              {% else %}
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputQ1" name="inputQ1" value="{{ inputQ1 }}" placeholder="Answer" tabindex="1" required>
              </div>
              {% endif %}
            <label for="inputQ2" class="col-sm-10 col-form-label text-left" style="font-size: x-large;">2) 1:18 啰哩前面的车是什么颜色？</label>
              {% if inputQ2_invalid %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-invalid" id="inputQ2" name="inputQ2" value="{{ inputQ2 }}" placeholder="Answer" tabindex="2" required>
              </div>
              {% elif inputQ2_invalid == False %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-valid" id="inputQ2" name="inputQ2" value="{{ inputQ2 }}" placeholder="Answer" tabindex="2" required>
              </div>
              {% else %}
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputQ2" name="inputQ2" value="{{ inputQ2 }}" placeholder="Answer" tabindex="2" required>
              </div>
              {% endif %}
            <label for="inputQ3" class="col-sm-10 col-form-label text-left" style="font-size: x-large;">3) 1:27 迎面而来的车是什么颜色？</label>
              {% if inputQ3_invalid %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-invalid" id="inputQ3" name="inputQ3" value="{{ inputQ3 }}" placeholder="Answer" tabindex="3" required>
              </div>
              {% elif inputQ3_invalid == False %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-valid" id="inputQ3" name="inputQ3" value="{{ inputQ3 }}" placeholder="Answer" tabindex="3" required>
              </div>
              {% else %}
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputQ3" name="inputQ3" value="{{ inputQ3 }}" placeholder="Answer" tabindex="3" required>
              </div>
              {% endif %}
            <label for="inputQ4" class="col-sm-10 col-form-label text-left" style="font-size: x-large;">4) 第一个拐的方向</label>
              {% if inputQ4_invalid %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-invalid" id="inputQ4" name="inputQ4" value="{{ inputQ4 }}" placeholder="Answer" tabindex="4" required>
              </div>
              {% elif inputQ4_invalid == False %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-valid" id="inputQ4" name="inputQ4" value="{{ inputQ4 }}" placeholder="Answer" tabindex="4" required>
              </div>
              {% else %}
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputQ4" name="inputQ4" value="{{ inputQ4 }}" placeholder="Answer" tabindex="4" required>
              </div>
              {% endif %}
            <label for="inputQ5" class="col-sm-10 col-form-label text-left" style="font-size: x-large;">5) 1:26 左边的铁门是什么颜色？</label>
              {% if inputQ5_invalid %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-invalid" id="inputQ5" name="inputQ5" value="{{ inputQ5 }}" placeholder="Answer" tabindex="5" required>
              </div>
              {% elif inputQ4_invalid == False %}
              <div class="col-sm-2">
                <input type="text" class="form-control is-valid" id="inputQ5" name="inputQ5" value="{{ inputQ5 }}" placeholder="Answer" tabindex="5" required>
              </div>
              {% else %}
              <div class="col-sm-2">
                <input type="text" class="form-control" id="inputQ5" name="inputQ5" value="{{ inputQ5 }}" placeholder="Answer" tabindex="5" required>
              </div>
              {% endif %}
            <div>
              <input class="btn btn-primary mt-5 ml-2" type="submit" value="Submit" tabindex="6"/>
            </div>
          </form>
          {% elif mission.id == 6 %}
          <br>
          <br>
          <h5>The poll will open when the debate is ended.</h5>
          <script src='https://poll.app.do/iframe/testing-poll-2867017.js'></script>
          {% elif mission.id == 7 %}
          {% endif %}
        </div>
      </div>

    </div>
{% endblock %}
