{% extends "home/base.html" %}

{% block title %}Mission{% endblock %}

{% block content %}
    <div class="container">
      {% load static %}
      <div class="jumbotron active-mission mb-5">
        <div class="container-fluid text-center">
          <div class="container-sm border border-secondary rounded">
            <blockquote class="blockquote text-center my-auto pt-3 pb-3">
              {% if mission.id == 1 %}
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Chapter 1: <cite title="Source Title">Spot the Difference</cite></footer>
              {% else %}
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Chapter 2: <cite title="Source Title">Missing Piece</cite></footer>
              {% endif %}
            </blockquote>
          </div>
          <h2 class="mt-5"><strong>{{ mission.mission_title_chi }} {{ mission.mission_title_eng }}</strong></h2><br>
          <h4><u><b>Instructions</b></u></h4>
          <p class="lead">
            {% autoescape off %}
            {{ mission.mission_description_chi }}<br>
            {{ mission.mission_description_eng }}
            {% endautoescape %}
          </p>
          {% for message in messages %}
          <br>
          <br>
          <div class="container w-75">
            <div class="alert alert-danger mb-4" role="alert">
              {% autoescape off %}
              {{ message }}
              {% endautoescape %}
            </div>
          </div>
          {% endfor %}
          {% if mission.id == 1 %}
          <p><i></i></p>
          <br>
          <br>
          <img src="{% static 'game/spot/SpotTheDifference.jpg' %}" style="max-width: 100%; height: auto;" alt="">
          <form method="POST" class="mt-5" name="spot-the-difference-form">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <div class="float-right mr-n2">
                    <!-- {% if box1_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box1 }}" name="box1" tabindex="1" required>
                    {% elif box1_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box1 }}" name="box1" tabindex="1" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box1" tabindex="1" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ SpotAnswers.0 }}" name="box1" tabindex="1" required>
                </div>
              </div>
              <div class="col ml-n3">
                    <!-- {% if box2_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box2 }}" name="box2" tabindex="2" required>
                    {% elif box2_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box2 }}" name="box2" tabindex="2" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box2" tabindex="2" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ SpotAnswers.1 }}" name="box2" tabindex="2" required>
              </div>
            </div>
            <br>
            <br>
            <img src="{% static 'game/spot/FD.jpg' %}" style="max-width: 100%; height: auto;" class="mt-4" alt="">
            <div class="mt-5">
              <div class="row">
                <div class="col">
                  <div class="float-right mr-n2">
                    <!-- {% if box3_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box3 }}" name="box3" tabindex="3" required>
                    {% elif box3_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box3 }}" name="box3" tabindex="3" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box3" tabindex="3" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ SpotAnswers.2 }}" name="box3" tabindex="3" required>
                  </div>
                </div>
                <div class="col ml-n3">
                    <!-- {% if box4_invalid %}
                    <input class="spot-password-long form-control is-invalid" type="text" minlength="1" maxlength="1" value="{{ box4 }}" name="box4" tabindex="4" required>
                    {% elif box4_invalid == False %}
                    <input class="spot-password-long form-control is-valid" type="text" minlength="1" maxlength="1" value="{{ box4 }}" name="box4" tabindex="4" required>
                    {% else %}
                    <input class="spot-password form-control" type="text" minlength="1" maxlength="1" name="box4" tabindex="4" required>
                    {% endif %} -->
                    <input class="spot-password-long form-control" type="text" minlength="1" maxlength="1" value="{{ SpotAnswers.3 }}" name="box4" tabindex="4" required>
                </div>
              </div>
            </div>
            <input class="btn btn-primary mt-5 ml-2" type="submit" value="Submit" tabindex="5"/>
          </form>
          <!-- <a href="{% url 'home:spot' mission_id=mission.id %}" class="btn btn-primary mt-3">Proceed to the puzzle</a> -->
          {% elif mission.id == 2 %}
          <br>
          <audio controls>
            <source src="{% static 'mission_files/ReverseAudio.mp3' %}" type="audio/mp3">
          </audio>
          <br>
          <br>
          <h3 class="col-sm-12 mt-3" style="font-weight: bold;">Enter your answers below</h3>
          <form method="POST" class="form-group row mt-5">
            {% csrf_token %}
            <label for="audioInput1" class="col-sm-4 col-form-label text-center" id="audioLabel1">🎵 <kbd>第一首歌 Song 1</kbd> 🎶</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="audioInput1" name="audioInput1" value="" placeholder="Answer" tabindex="1" required>
              </div>
            <label for="audioInput2" class="col-sm-4 col-form-label text-center" id="audioLabel2">🎵 <kbd>第二首歌 Song 2</kbd> 🎶</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="audioInput2" name="audioInput2" value="" placeholder="Answer" tabindex="2" required>
              </div>
            <label for="audioInput3" class="col-sm-4 col-form-label text-center" id="audioLabel3">🎵 <kbd>第三首歌 Song 3</kbd> 🎶</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="audioInput3" name="audioInput3" value="" placeholder="Answer" tabindex="3" required>
              </div>
            <label for="audioInput4" class="col-sm-4 col-form-label text-center" id="audioLabel4">🎵 <kbd>第四首歌 Song 4</kbd> 🎶</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="audioInput4" name="audioInput4" value="" placeholder="Answer" tabindex="4" required>
              </div>
            <label for="audioInput5" class="col-sm-4 col-form-label text-center" id="audioLabel5">🎵 <kbd>第五首歌 Song 5</kbd> 🎶</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="audioInput5" name="audioInput5" value="" placeholder="Answer" tabindex="5" required>
              </div>
            <div class="container">
              <input class="btn btn-primary col-sm-2 mt-5" type="submit" value="Submit"/>
            </div>
          </form>
          {% elif mission.id == 3 %}
          <br>
          <br>
          <!-- <h5>This game is still under development.</h5> -->
          <form method="POST" class="form-group row">
            {% csrf_token %}
          </form>
          {% elif mission.id == 4 %}
          <br>
          <br>
          <div class="container">
            <div id="crossword-img" class="row" style="text-align: center; display: block;">
              <img src="{% static 'game/crossword/Crossword.jpeg' %}" style="max-width: 100%; height: auto;" alt="Crossword">
              <div class="container">
                <form class="mt-5" method="POST">
                  {% csrf_token %}
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ1" name="crosswordQ1" placeholder="id**li*" tabindex="1" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ2" name="crosswordQ2" placeholder="s**i****r*n**" tabindex="2" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ3" name="crosswordQ3" placeholder="q*ix*ti*" tabindex="3" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ4" name="crosswordQ4" placeholder="*lo*k*n*piel" tabindex="4" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ5" name="crosswordQ5" placeholder="**os" tabindex="5" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ6" name="crosswordQ6" placeholder="m*s***s*p*i" tabindex="6" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ7" name="crosswordQ7" placeholder="s**a*f**o" tabindex="7" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ8" name="crosswordQ8" placeholder="***t*g" tabindex="8" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-3" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ9" name="crosswordQ9" placeholder="****ph****l*a" tabindex="9" required>
                  <input class="form-control form-control-sm text-center col-sm-4 mb-5" style="display: block; margin-right: auto; margin-left: auto;" id="crosswordQ10" name="crosswordQ10" placeholder="l*r*nx" tabindex="10" required>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
          {% elif mission.id == 5 %}
          <br>
          <!-- <div style="padding:55% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/418081125" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zSZ2-9T5hEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <br>
          <br>
          <button class="btn btn-primary btn-sm col-sm-3 mb-4" id="changeLang">
            Change Language
          </button>
          <form method="POST" class="form-group row" id="carcam-form">
            {% csrf_token %}
          </form>
          {% elif mission.id == 6 %}
          <br>
          <br>
          <h5>The poll will open when the debate is ended.</h5>
          <script src='https://poll.app.do/iframe/testing-poll-2867017.js'></script>
          {% elif mission.id == 7 %}
          {% endif %}
        </div>
      </div>
    </div>
    <script>
      {% if mission.id == 2 %}
      window.addEventListener('DOMContentLoaded', function() {
          {% autoescape off %}
          {% if SongAnswers == None %}
          {% else %}
          var SongAnswers = {{ SongAnswers }};
          var SongResults = {{ SongResults }};
          {% endif %}
          {% endautoescape %}

          for (var i = 0; i < SongResults.length; i++) {
            if (SongResults[i] == "False") {
              document.getElementById('audioInput' + (i+1).toString()).classList.add("is-invalid");
            } else if (SongResults[i] == "True") {
              document.getElementById('audioInput' + (i+1).toString()).classList.add("is-valid");
            }
            document.getElementById('audioInput' + (i+1).toString()).value = SongAnswers[i];
          }
        });
      {% endif %}

      {% if mission.id == 4 %}
      window.addEventListener('DOMContentLoaded', function() {
          {% autoescape off %}
          {% if CrosswordAnswers == None %}
          {% else %}
          var CrosswordResults = {{ CrosswordResults }};
          var CrosswordAnswers = {{ CrosswordAnswers }};
          {% endif %}
          {% endautoescape %}

          for (var i = 0; i < CrosswordResults.length; i++) {
            if (CrosswordResults[i] == "False") {
              document.getElementById('crosswordQ' + (i+1).toString()).classList.add("is-invalid");
            } else if (CrosswordResults[i] == "True") {
              document.getElementById('crosswordQ' + (i+1).toString()).classList.add("is-valid");
            }
            document.getElementById('crosswordQ' + (i+1).toString()).value = CrosswordAnswers[i];
          }
        });

      // function loadCrossword() {
      //   document.getElementById('crossword-img').setAttribute("style", "display: block;");
      //   document.getElementById('loadCrosswordBtn').setAttribute("style", "display: none;")
      // }

      // function startCrossword () {
      //     class CrosswordRow {
      //         constructor(answer, typedAnswer) {
      //             this.answer = answer;
      //             this.typedAnswer = typedAnswer;
      //         }
      //     }

      //     var row0 = new CrosswordRow("I", "");
      //     var row1 = new CrosswordRow("SD", "");
      //     var row2 = new CrosswordRow("QUIXOTICY", "");
      //     var row3 = new CrosswordRow("HL", "");
      //     var row4 = new CrosswordRow("GLOCKENSPIEL", "");
      //     var row5 = new CrosswordRow("ZI", "");
      //     var row6 = new CrosswordRow("EOC", "");
      //     var row7 = new CrosswordRow("MISSISSIPPIS", "");
      //     var row8 = new CrosswordRow("DHG", "");
      //     var row9 = new CrosswordRow("OZRR", "");
      //     var row10 = new CrosswordRow("SPARAPHERNALIA", "");
      //     var row11 = new CrosswordRow("FNF", "");
      //     var row12 = new CrosswordRow("TIF", "");
      //     var row13 = new CrosswordRow("ILARYNXI", "");
      //     var row14 = new CrosswordRow("GT", "");
      //     var row15 = new CrosswordRow("O", "");

      //     var Crossword = [row0, row1, row2, row3, row4, row5, row6, row7, row8, row9, row10, row11, row12, row13, row14, row15];


      //     var numberChecker = 0;


      //     function skipToNext(elem) {
      //         var nextElemIndex = parseFloat(elem.getAttribute('tabindex')) + 1;
      //         document.querySelector('[tabindex="' + nextElemIndex + '"]').focus();
      //     }


      //     document.getElementById("submit_crossword").addEventListener("click", function (e) {
      //         // Prevent webpage from refreshing
      //         e.preventDefault();


      //         numberChecker = 0;
      //         // Loop through each rows
      //         for (var j = 0; j < Crossword.length; j++) {
      //             Crossword[j].typedAnswer = "";

      //             // Loop through each columns
      //             for (var i = 0; i < Crossword[j].answer.length; i++) {
      //                 // Adding value of each columns to Crossword.typedAnswer
      //                 Crossword[j].typedAnswer += document.getElementById("cross-row" + j.toString()).querySelectorAll("input")[i].value.toUpperCase();
      //             }

      //             // Check if typedAnswer is equal to Answer
      //             if (Crossword[j].typedAnswer === Crossword[j].answer) {
      //                 // If equal, good answer(remove bad, add good)
      //                 document.getElementById("cross-row" + j.toString()).classList.remove("bad");
      //                 document.getElementById("cross-row" + j.toString()).classList.add("good");
      //                 // Increment numberChecker
      //                 numberChecker++;
      //             } else {
      //                 // If not equal, bad answer(remove good, add bad)
      //                 document.getElementById("cross-row" + j.toString()).classList.remove("good");
      //                 document.getElementById("cross-row" + j.toString()).classList.add("bad");
      //             }
      //         }
      //         // Loop through each rows
      //         var pass = true;

      //         for (var j = 0; j < Crossword.length; j++) {
      //           if (document.getElementById("cross-row" + j.toString()).classList.contains("good")) {
      //             continue;
      //           } else {
      //             pass = false;
      //           }
      //         }

      //         if (pass == false) {
      //           document.getElementById("result").innerHTML = 'Fail';
      //         } else {
      //           document.getElementById("result").innerHTML = 'Pass';
      //         }
      //     });
      // }
      {% endif %}
              
      {% if mission.id == 5 %}
      // Setting variables
      {% autoescape off %}
      var CarcamQuesChi = {{ CarcamQuesChi }};
      var CarcamQuesEng = {{ CarcamQuesEng }};
      var Timecode = {{ Timecode }};

      {% if CarcamAnswers == None %}
      {% else %}
      var CarcamResults = {{ CarcamResults }};
      var CarcamAnswers = {{ CarcamAnswers }};
      {% endif %}
      {% endautoescape %}

      document.addEventListener('DOMContentLoaded', () => {

        // Create 20 questions
        for (var i=0; i<CarcamQuesChi.length; i++) {
          const question = document.createElement('label');
          const div = document.createElement('div');
          const input = document.createElement('input');

          // Setting attributes of input
          question.setAttribute("id", "carcam-question");
          question.setAttribute("for", "inputQ" + (i+1).toString());
          question.setAttribute("style", "font-size: x-large;");
          question.classList.add("col-sm-10", "col-form-label", "text-left");
          if (Timecode[i] == "")
            question.innerHTML = `${(i+1)}) ${CarcamQuesChi[i]}`;
          else
            question.innerHTML = `${(i+1)}) <kbd>${Timecode[i]}</kbd> ${CarcamQuesChi[i]}`;

          // Setting attributes of div
          div.classList.add("col-sm-2");

          // Setting attributes of input
          input.setAttribute("id", "carcam-answer");
          input.setAttribute("name", "inputQ" + (i+1).toString());
          input.setAttribute("type", "text");
          input.setAttribute("placeholder", "Answer");
          input.setAttribute("tabindex", (i+1).toString());
          input.setAttribute("required", "");
          // input.setAttribute("value", `${Answers[i]}`);
          input.classList.add("form-control");

          // Adding inputs into the div
          div.append(input)

          document.querySelector("#carcam-form").append(question);
          document.querySelector("#carcam-form").append(div);
        }

        // Create Submit Button
        const container = document.createElement('div');
        const submit = document.createElement('input');

        // Setting the attributes 
        container.classList.add("container");
        submit.setAttribute("type", "submit");
        submit.setAttribute("value", "Submit");
        submit.setAttribute("tabindex", (CarcamQuesChi.length + 1).toString());
        submit.classList.add("btn", "btn-primary", "col-sm-2", "mt-5");

        container.append(submit);
        document.querySelector("#carcam-form").append(container);

        var CarcamInputs = document.querySelectorAll('#carcam-answer');

        // Checking for correct/incorrect answers
        for(var i=0; i<CarcamResults.length; i++) {
          if (CarcamResults[i] == "False") {
            CarcamInputs[i].classList.add("is-invalid");
          } else if (CarcamResults[i] == "True") {
            CarcamInputs[i].classList.add("is-valid");
          }
          CarcamInputs[i].value = CarcamAnswers[i];
        }
      })

      // Change Language on button click
      document.getElementById("changeLang").addEventListener('click', () => {
        for (var i=0; i<CarcamQuesChi.length; i++) {
          const questions = document.querySelectorAll("#carcam-question");
          const inputs = document.querySelectorAll("#carcam-answer");

          if (questions[i].innerHTML == `${(i+1)}) ${CarcamQuesChi[i]}`) {
            questions[i].innerHTML = `${(i+1)}) ${CarcamQuesEng[i]}`;
            questions[i].setAttribute("style", "font-size: normal;");
            inputs[i].setAttribute("class", "form-control form-control-sm");
          } else if (questions[i].innerHTML == `${(i+1)}) <kbd>${Timecode[i]}</kbd> ${CarcamQuesChi[i]}`) {
            questions[i].innerHTML = `${(i+1)}) <kbd>${Timecode[i]}</kbd> ${CarcamQuesEng[i]}`;
            questions[i].setAttribute("style", "font-size: normal;");
            inputs[i].setAttribute("class", "form-control form-control-sm");
          } else if (questions[i].innerHTML == `${(i+1)}) <kbd>${Timecode[i]}</kbd> ${CarcamQuesEng[i]}`) {
            questions[i].innerHTML = `${(i+1)}) <kbd>${Timecode[i]}</kbd> ${CarcamQuesChi[i]}`;
            questions[i].setAttribute("style", "font-size: x-large;");
            inputs[i].setAttribute("class", "form-control");
          } else {
            questions[i].innerHTML = `${(i+1)}) ${CarcamQuesChi[i]}`;
            questions[i].setAttribute("style", "font-size: x-large;");
            inputs[i].setAttribute("class", "form-control");
          }
        }
      })
      {% endif %}
    </script>
{% endblock %}