{% extends "home/base.html" %}

{% block title %}Success{% endblock %}

{% block content %}
    <div class="container">
      <div class="jumbotron active-mission mb-5">
        <div class="container-fluid text-center">
            <h1><b>Congratulations!</b></h1>
            <h3>Your answer is correct.</h3><br>
            <p>The mission you have submitted is -> <kbd>{{ mission.mission_title_chi }} {{ mission.mission_title_eng }}</kbd><br>Please seek for help in our Discord Server if there's any enquiries.</p>
            <a href="{% url 'home:mission' %}" class="btn btn-primary btn-sm">
                Go back to Mission
            </a>
            <a href="https://discord.gg/7mgxSBc" class="btn btn-primary btn-sm ml-3"><i class="fab fa-discord mr-2 mt-1"></i>Go to Discord</a>
        </div>
        <div class="container-fluid text-center mt-5">
          {% if mission.id == 1 %}
          <p class="">Clues that you've been looking for 👇</p>
          <a class="btn btn-light btn-sm" href="https://www.instagram.com/emily.siia/" target="_blank"><i class="fab fa-instagram mr-2 mt-1"></i>emily.siia</a>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      history.pushState(null, null, null)
      window.addEventListener('popstate', function() {
        history.pushState(null, null, null);
      })
    </script>
{% endblock %}