<!DOCTYPE html>
{% if message %}
<script>
  alert("{{ message }}");
</script>
{% endif %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>绝密追查 - Inspector Login</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}" />
    <link rel="stylesheet" href="{% static 'images/login.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="title-image">
        <!-- <img src="{% static 'images/Title.svg' %}" alt="" /> -->
      </div>
      <form class="login-form" action="{% url 'login:postsign' %}" method="POST">
        {% csrf_token %}
        <div class="email-container">
          <label for="email">Email:</label><br />
          <input type="text" name="email" style="text-align: center;"/><br />
        </div>
        <div class="password-container">
          <label for="password">Password:</label><br />
          <input type="password" name="password" style="text-align: center;"/><br /><br />
        </div>
        <input class="login-button" type="submit" value="Log In" />
      </form>
    </div>
  </body>
</html>
